* {margin: 0; padding: 0;}
body {font-family: 'Roboto', sans-serif;}
li, ol {list-style: none;}
header {position: fixed; top: 0; left: 0; width: 100%; z-index: 10; background-color: #fff;}
header > h1 {text-align: center; margin: 20px 0 20px 0;}

.social {position: absolute; top: 20px; left: 15px; /* display: block; */}
.social > li {float: left; width: 32px; height: 32px; background: url(img/social.png)no-repeat; text-indent: -99999px;}

.social > li:nth-child(2) {background-position: -32px 0;}
.social > li:nth-child(3) {background-position: -64px 0;}
.social > li:nth-child(4) {background-position: -96px 0;}

.login-menu {position: absolute; top: 20px; right: 15px;}
.login-menu > li {float: left;}
.login-menu > li > a {padding-left: 30px; font-size: 12px;}

nav {display: block;}
.mainmenu {text-align: center;}
.mainmenu > li {display: inline-block;}
.mainmenu > li > a {display: block; padding: 20px 30px; text-decoration: none; color: #555;}

#main {margin-top: 170px; height: 500px; border-top: 3px solid red; background-image: url(img/main.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}
#main div {text-align: center; color: white; line-height: 80px;}
#main div:nth-child(1) {font-size: 50px; letter-spacing: 15px; padding-top: 100px;}
#main div:nth-child(2) {font-size: 30px;}

#list {text-align: center; margin-bottom: 100px;}
#list h2 {border-bottom: 3px dashed #ddd; font-size: 14px; padding: 10px 0;}
#list article {display: inline-block; padding: 40px; color: #ddd;}

footer {text-transform: uppercase; border-top: 2px solid #ddd; line-height: 40px; padding: 0 20px;}
footer h2{float: left; font-size: 12px;}
footer p {float: right; font-size: 14px;}